/*******************************************
    BASE STYLES
*******************************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    --headerOne: calc(2rem + 1vw);
    --headerTwo: calc(2.4rem + 1vw);
    --headerThree: calc(3rem + 1vw);
    --headerFour: calc(3.5rem + 1vw);
    --text: calc(1.5rem + 1vw);
    --headerFour: calc(2rem + 1vw);

    --color-primary: #261717;
    --color-special: #D9A3A3;
}

body {
    font-family: 'Frank Ruhl Libre', serif;
}

h1 {
    font-size: var(--headerOne);
    font-family: 'Great Vibes', cursive;
}

h2 {
    font-size: var(--headerTwo);
}

h3 {
    font-size: var(--headerThree);
}

ul {
    list-style-type: none;
}

li,
button,
label,
input,
a,
p {
    font-size: var(--text);
}

a {
    text-decoration: none;
    color: black;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*******************************************
    NAV STYLES
*******************************************/
.main-head {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

nav {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    min-height:  10vh;
    padding: 2rem 0;
}

#logo {
    flex: 1 1 20rem;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    flex: 1 1 20rem;
}

.hero {
    min-height: 90vh;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.hero-intro {
    flex: 2 1 30rem;

}

.hero-imgs {
    flex: 1 1 20rem;
}